body {
  background-color: $red-primary;
  color: #ffffff;
  font-size: 16px;
  margin: 0;
}

.dark-background {
  background-color: $dark-primary;
  min-height: 100vh;
  min-width: 100%;
  //position: absolute;
}

.container {
  margin: 0 auto;
  max-width: 780px;
  position: relative;
}

.z-1 {
  position: relative;
  z-index: 1;
}

.padding-top-header {
  padding-top: 50px;
}

.margin-top-lg {
  margin-top: 5em;
}

.margin-top-md {
  margin-top: 2em;
}

.margin-bottom-md {
  margin-bottom: 2em;
}