.avatar {
  &__image {
    border-radius: 3px;
    overflow: hidden;
  }

  &__description {
    margin-top: -0.75em;
    position: relative;
    z-index: 1;
  }

  &__seperator {
    background-color: $red-primary;
    border: none;
    height: 5px;
    margin: 0;
    width: 50px;
  }

  &__title {
    font-size: 1.5em;
    font-weight: 700;
    margin: 0 0 12px -8px;
  }

  &__duty {
    margin: 8px 0 0 0;
  }
}