.break-free {
  &-grid {
    grid-template-columns: 300px auto;
    grid-template-rows: 300px;

    @include phone {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }
  }

  @include phone {
    &-cover {
      display: none;
    }
  }

  &-embed {
    @include phone {
      height: 480px;
    }
  }
}