body {
  background-color: $red-primary;
  color: #ffffff;
  font-size: 16px;
  margin: 0;
}

.dark-background {
  background-color: $dark-primary;
  min-height: 100vh;
  min-width: 100%;
  //position: absolute;
}

.container {
  margin: 0 auto;
  max-width: 780px;
  position: relative;

  @include phone {
    margin: 0 16px;
  }

  &--video {
    @include phone {
      margin: 0;
      padding-bottom: 32px;
    }
  }
}

.z-1 {
  position: relative;
  z-index: 1;
}

.padding-top-header {
  padding-top: 50px;
}

.margin-bottom {
  &--default {
    margin-bottom: 120px;

    @include phone {
      margin-bottom: 60px;
    }
  }
}