body {
  background-color: $red-primary;
  color: #ffffff;
  font-size: 16px;
  margin: 0;
}

.dark-background {
  background-color: $dark-primary;
  min-height: 100vh;
  width: 100%;
  position: absolute;
}

.container {
  margin: 0 auto;
  max-width: 780px;
  position: relative;

  @include phone {
    margin: 0 16px;
  }

  &--slider {
    padding-bottom: 32px;
    
    @include phone {
      margin: 0;
    }
  }

  &--video {
    @include phone {
      margin: 0;
    }
  }
}

.z-1 {
  position: relative;
  z-index: 1;
}

.padding-top-header {
  @include desktop {
    padding-top: 50px;
  }
}

.rounded-corners {
  border-radius: 3px;
  overflow: hidden;
}

.margin-sides {
  @include phone {
    &--mobile {
      margin-right: 16px;
      margin-left: 16px;
    }
  }
}

.margin-bottom {
  &--default {
    margin-bottom: 160px;

    @include phone {
      margin-bottom: 50px;
    }
  }

  &--narrow {
    margin-bottom: 120px;

    @include phone {
      margin-bottom: 40px;
    }
  }

  &--narrower {
    margin-bottom: 80px;

    @include phone {
      margin-bottom: 30px;
    }
  }
}

.margin-top {
  &--default {
    margin-top: 2em;
  }

  &--mobile {
    @include phone {
      margin-top: 40px;
    }
  }

  &--large {
    margin-top: 5em;
  }
}
