.padding-top-header {
  @include desktop {
    padding-top: 50px;
  }
}

.rounded-corners {
  border-radius: 3px;
  overflow: hidden;
}

.margin-sides {
  @include phone {
    &--mobile {
      margin-right: 16px;
      margin-left: 16px;
    }
  }
}

.margin-bottom {
  &--default {
    margin-bottom: 160px;

    @include phone {
      margin-bottom: 50px;
    }
  }

  &--narrow {
    margin-bottom: 120px;

    @include phone {
      margin-bottom: 40px;
    }
  }

  &--narrower {
    margin-bottom: 80px;

    @include phone {
      margin-bottom: 30px;
    }
  }
}

.margin-top {
  &--default {
    margin-top: 2em;
  }

  &--mobile {
    @include phone {
      margin-top: 40px;
    }
  }

  &--large {
    margin-top: 5em;
  }
}
