.header {
  background-color: $dark-primary;
  
  @include desktop {
    position: fixed;
    width: 100%;
    z-index: 9999;
  }
  
  &__link {
    text-decoration: none;
    color: #ffffff;
  }
  
  &__title {
    font-size: 1.25em;
    line-height: 50px;
    margin: 0;
    text-align: center;
  }
}