.video-thumb {
  display: block;
  overflow: hidden;
  border-radius: 3px;
  margin: 0 8px;

  &__wrapper {
    background-color: $red-primary;
    padding-top: 56.25%;
    position: relative;
    width: 100%;
  }

  &__image-wrapper {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute!important;
  }

  &__image {
    width: 100%!important;
    height: 100%!important;
  }
}

//Override default styles by slick carousel

.slick-dots li.slick-active button:before,
.slick-dots li button:before {
  color: #ffffff!important;
}