.embedded-video {
  border-radius: 3px;
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
  width: 100%;

  @include phone {
    border-radius: 0;
  }

  &__content {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    height: 100%;
    position: absolute;
    width: 100%;
  }
}

.video-thumbnail {
  border-radius: 3px;
  display: block;
  overflow: hidden;
  margin: 0 8px;
  position: relative;

  @include phone {
    margin: 0px;
    border-radius: 0;
  }

  &:hover>&__icon-wrapper>&__icon {
    transform: scale(0.9);
  }

  &:hover>&__wrapper {
    transform: scale(1.02);
  }
  
  &__wrapper {
    cursor: pointer;
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
    transition: transform 300ms ease;
  }

  &__icon-wrapper {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 1;
  }

  &__icon {
    height: 56px;
    transition: transform 300ms ease;
    width: 56px;
  }

  &__image-wrapper {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute!important;
  }
  
  &__image {
    width: 100%!important;
    height: 100%!important;
  }
}

//override default styles
.slick-dots li.slick-active button:before,
.slick-dots li button:before {
  color: #ffffff!important;
}